html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

$bg: #cf4647;
$fg: #fff;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: $bg;
    color: $fg;
    font-family: system-ui, sans-serif;
    text-align: center;
}

main {
    flex: 1 1 auto;
}

h1 {
    font-size: 3rem;
    font-family: SourceSansPro, sans-serif;
}

.container {
    $gap: 1rem 2rem;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: var(--gap, #{$gap});
}
